fastapi
uvicorn
requests
mistralai
cohere
openai
openai
python-dotenv==1.0.1
pydantic
python-multipart
PyPDF2
google-cloud-translate
PyYAML==6.0.2
diff-match-patch
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-core
google-cloud-core
google-cloud-vision>=3.4.0
python-pptx
openpyxl
mammoth
SpeechRecognition
pydub
imageio-ffmpeg
google-cloud-speech
git+https://github.com/Crystal-0109/hanspell.git#egg=hanspell
